;; 2021-01-25: use maven or clojars refs.
;; 2021-03-24: replace raynes/fs 1.4.6 with new one: clj-commons/fs/1.6.307/
;; 2026-08-01: version of deps.edn that uses my starter library.
;; copy to ~/.config/genie/template/deps.edn to use this one for new scripts.
;; do not include genied in starter-lib, to prevent circular dependency.
{:paths [""] ;; so script will be found in current dir, not in src-subdir.
 :deps
 {ndevreeze/starter {:mvn/version "0.1.0-SNAPSHOT"}
  ndevreeze/genied {:mvn/version "0.1.0-SNAPSHOT"} ;; for running with clj -m report.}
 }
